<template>
  <div class="portfolio">
    <div class="breadcrumbs text-center">
      <h2>Portfolio</h2>
    </div>
    <div class="container">
      <div class="row mt-4">
        <div class="col-12 my-4" >
          <div class="row">
            <div class="col-4">
              <div class="image">
                <img src="/img/mduka.png" alt="" width="100%">
              </div>
            </div>
            <div class="col-8">
              <div class="text">
                <h3>Mduka Online Shopping</h3>
                <h4>Category: Web Application</h4>
                <p>Mduka is an e-commerce web application created by Futurefast Global Tech Solutions. It has a separate portal for the management of content and is done with the latest stable technologies to ensure security and and realiability </p>
                <a href="http://mduka.co.ke/" target="_blank" class="btn btn-primary btn-sm float-right">Learn more</a>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-4">
              <div class="image">
                <img src="/img/fyx.png" alt="" width="100%">
              </div>
            </div>
            <div class="col-8">
              <div class="text">
                <h3>Fyx</h3>
                <h4>Category: Web Application</h4>
                <p>Fyx is a web application that allows consumers to book for services such cleaning and fixig of equipments among other things. It has a content management system that allows the addition of services by the admin</p>
                <a href="http://fyx.co.ke/" target="_blank" class="btn btn-primary btn-sm float-right">Learn more</a>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>

            <div class="col-4">
              <div class="image">
                <img src="/img/e-wakili.png" alt="" width="100%">
              </div>
            </div>
            <div class="col-8">
              <div class="text">
                <h3>E-wakili</h3>
                <h4>Category: Web Application</h4>
                <p>E-wakili is a Comprehensive and inclusive Law Practice Management. It allows law practitioners to manage the day to day tasks in real-time</p>
                <a href="http://ewakili.com/" target="_blank" class="btn btn-primary btn-sm float-right">Learn more</a>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>

            <div class="col-4">
              <div class="image">
                <img src="/img/trade-finance.png" alt="" width="100%">
              </div>
            </div>
            <div class="col-8">
              <div class="text">
                <h3>Trade Finance</h3>
                <h4>Category: Web Application</h4>
                <p>Trade finance is a banking platform that manages bidbond generation in financial institutions for their customers.</p>
                <a href="#" target="_blank" class="btn btn-primary btn-sm float-right">Learn more</a>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>