<template>
  <div class="services-section">
    <div class="breadcrumbs text-center">
      <h2>Services</h2>
    </div>
    <div class="services-wrapper">
      <div class="container">
        <div class="heading">
        <h5
          class=" pt-5"
        >Our end-to-end software development services offering is backed by our many years of experience, standard processes, quality assurance and expertise in multiple technologies.</h5><hr></div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img">
                <img src="/img/sr8.png" alt />
              </div>
              <h4>UI/UX Design</h4>
              <p>Hire our design experts and we will make sure to provide you an experience like never before. In addition to this, it will result in increasing your conversion rates, customer loyalty and revenue. Connect with us today!</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img ">
                <img src="/img/sr6.png" alt />
              </div>
              <h4>Mobile Application Development</h4>
              <p>iOS and Android App development is our forte. We help you build apps for your business, consumers and enterprise in the most time efficient way possible. We design, develop and test to meet the high standards of a usable app.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img">
                <img src="/img/sr7.png" alt />
              </div>
              <h4>Testing & QA</h4>
              <p>Our QA & Testing service reduces the time and effort in testing so that you can exceed beyond your end user’s expectations. Businesses across the globe tend to hire our customized services and have a positive edge of achieving the best level of quality.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img">
                <img src="/img/sr2.png" alt />
              </div>
              <h4>Software Development</h4>
              <p>Developing tailor-made products that are beyond expectations is our forte. Covering multiple industries over the years, we are capable enough to tailor software products that help better match business needs including end-user demand.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img">
                <img src="/img/sr1.png" alt />
              </div>
              <h4>Web Application Development</h4>
              <p>We design and develop unique and functional websites that help you succeed online and improve your company’s bottom line. We are competent in creating responsive and adaptive web apps using the latest stable technologies</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="featured-card">
              <div class="p-img">
                <img src="" alt />
              </div>
              <h4>Enterprise Solutions</h4>
              <p>Through a team of excellence focused staff, we endeavor hard to turn your concept into a reality. Get in touch to get assistance at each and every stage of the software development lifecycle.</p>
            </div>
          </div>
        </div>
        <div class="technologies">
          <div class="row">
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
            <div class="col-md-3"> <img src="" alt=""></div>
          </div>
        </div>
      </div>
      <img src="/img/circle.png" id="blue" alt="blue">
      <img src="/img/orange-dot.png" id="orange" alt="orange">
      <img src="/img/left_sharp.png" id="left" height="400px" alt="left">
      <img src="/img/about_shape.png" id="right" height="430px" alt="right">
    </div>
  </div>
</template>
<script>
export default {};
</script>