<template>
  <div>
    <div class="after-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div id="web1">
                  <img src="/img/icon-mobile.png" height="100px" alt="web" />
                  <h2>Mobile App Development</h2>
                  <p class="inf"> We build IOS and android apps that are efficient as per the needs of our clients.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div id="web2">
                  <img src="/img/software.png" alt="software" height="100px" />
                  <h2>Software Development</h2>
                  <p class="inf">We dvelopments software to solve the needs of our consumers.</p>
                </div>
                <div id="web3" class="pt-3">
                  <img src="/img/web-app.png" alt="mobile" height="100px" />
                  <h2>Web App Development</h2>
                  <p class="inf">We design and develop web applications using the latest technologies. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="all-info">
              <div class="info">
                <p>Futurefast Global Tech Solutions is a leading software, web and mobile application development company that delivers high quality, scalable, and cost-effective solutions and offshore software development services to a global clientele.</p>
              </div>
              <div class="rowed">
                <div class="row">
                  <div class="col-md-6">
                    <div class="completed">
                      <h3>50+</h3>
                      <p>completed systems</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="completed">
                      <h3>200+</h3>
                      <p>Satisfied customers</p>
                    </div>
                  </div>
                  <div class="pl-3">
                    <a href>
                      Learn more
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- After-banner end -->
    <!-- Portfolio-section start -->
    
  </div>
</template>
<script>
export default {};
</script>