<template>
    <div :class="`footer ${$route.name == 'contact'  || $route.name == 'services' || $route.name == 'about' ? 'borders' : '' }`">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo mb-4">
                        <img src="/img/logo1.png" alt="logo">
                    </div>
                    <p>A software company that cares about your needs.</p>
                </div>
                <div class="col-md-3">
                    <h3>Contact Info</h3>
                    <ul>
                    <li>
                    <p><a>Address : Nairobi, Kenya</a></p>
                    </li>
                    <li>
                    <p><a>Phone : +254 718844831</a></p>
                    </li>
                    <li>
                    <p><a>Email : info@futurefast.co.ke</a></p>
                    </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Useful Links</h3>
                    <ul>
                    <li>
                    <a>Services</a>
                    </li>
                    <li>
                    <a>About Us</a>
                    </li>
                    <li>
                    <a>Contact Us</a>
                    </li>
                    <li>
                    <a>Portfolio</a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Newsletter</h3>
                    <p>Subscribe to our newsletter to get updates of new software or solutions to common business problems</p>
                    <div class="newsletter">
                        <input type="email"  name="email" placeholder="Enter your Email Address">
                        <a href=""><span class="fa fa-paper-plane-o" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>