<template>
  <div>
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/img/logo.png" alt=""></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <router-link class="nav-link" to="/">
              Home
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/services">Services</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/portfolio">Portfolio</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/about">About Us</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/contact">Contact Us</router-link>
          </li>
        </ul>
      </div>
      </div>
    </nav>
  </div>
</template>
<script>
window.addEventListener('scroll', function(){
  let nav = document.getElementById('nav');
  if(this.scrollY > 80) { 
    if(!nav.classList.contains('background')){
      nav.classList.add('background');
      nav.classList.add('shadow');
    } 

    
  }else {
    nav.classList.remove('background')
    nav.classList.remove('shadow')
  }
})
export default {
};
</script>